* {
    box-sizing: border-box;
}

.header {
    width: 100%;
    background: #2C2D2E;
}

.container {
    width: 95%;
    margin: 0 auto;
    color: #fff;
}

.logo {
    display: inline-block;
    margin-left: 30px;
    margin-top: 15px;
    font-size: 20px;
}

.sub {
    position: absolute;
    top: 7px;
    display: none;
    width: 140px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
}

.container ul { 
    float: right;
    list-style: none;
    background-color: #2C2D2E;
}

.container li {
    position: relative;
    margin-bottom: 10px; 
    list-style: none;
}

.container a  {
    width: 50px;
    padding-right: 10px;
    color: #fff;
    text-decoration: none;
}

.utama > li {
    display: inline-block;
    padding-right: 5px;   
}

.utama > li:hover .sub {
    display: block;
    padding: 20px 10px 10px 15px;
    color: #333;
    background-color: #727171;
}

.clearfix:after {
    display: table;
    clear: both;
    content: '';
}

img {
    width: 100%;
}

.container2 {
    position: relative;
    bottom: 70px;
    width: 1300px;
    max-width: 90%;
    border: 2px solid #4B4C4D;
    margin: 0 auto;
    background-color: #fff;
}

.highlight {
    background-color: #fff;
}

.box {
    margin-left: -20px;     
}

.textbox {
    float : left;
    width: 33.3%;
    padding-left: 30px;
    padding-right: 10px;   
}

.highlight:after,.highlight:before {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: 0 auto;
    content: '';
}

.highlight:after {
    z-index: 1;
    border-top: 36px solid #fff;
    border-left: 36px solid transparent;
    border-right: 36px solid transparent;
}

.highlight:before {
    border-top: 40px solid #4B4C4D;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
}

.btn {
    position: relative;
    bottom: 30px;
    display: block;
    width: 300px;
    height: 80px;
    margin: 0 auto;
    color: #fff;
    background: #2836FA;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding-bottom: 8px;
    padding-top: 8px;
    margin: 0 auto;
    color: #FFFFFF;
    text-align: center;
    background: #2C2D2E;
}