.header{
    position: relative;
    color: #fff;
    background-color: #2C2D2E;
    padding:auto;
    top: 0;
}


ul {
  list-style: none;
  padding: auto;
  background: #222;
   color: #fff;

  }
  li {
    position: relative;
   

  }
  
  a {
    color: #fff;
    padding-top: 10px;
  }
}

.utama > li {
  display: inline-block;
   padding-top: 10px;
}

.utama > li:hover .sub {
  display: block;
   padding-top: 10px;
}

.sub {
  display: none;
  position: absolute;
  top: 100%;
   padding-top: 10px;
  left: 0;  
}












.footer{
    color: #FFFFFF;
    background: #2C2D2E;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: center;
    box-sizing:border-box;
  }